<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer"></remove>
		<add name="LocalSqlServer" connectionString="Data Source=Media.ruppin.ac.il; Initial Catalog=igroup29_test2; User ID=igroup29; Password=igroup29_68023" providerName="System.Data.SqlClient" />
		<add name="ConnStr" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup29_test1;User ID=igroup29;Password=igroup29_68023" providerName="System.Data.SqlClient" />
		<add name="ConnStr1" connectionString="Data Source=NIRO-PC\SQLEXPRESS;Initial Catalog=Productim;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ApplicationServices" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup29_test2;User ID=igroup29;Password=igroup29_68023" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="EmailUserName" value="k.r.love.animals@gmail.com" />
		<add key="EmailPassword" value="raanana123" />
		<add key="logFolderName" value="Logs" />
		<add key="VolunteerPhotosFolderName" value="VolunteerPhotos" />
		<add key="DogPhotosFolderName" value="DogPhotos" />
		<add key="EmailAttachmentsFolderName" value="EmailAttachments" />

	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />







 
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


	<system.net>
		<mailSettings>
			<smtp from="k.r.love.animals@gmail.com">
				<network host="smtp.gmail.com" password="raanana123" port="587" userName="k.r.love.animals@gmail.com" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
